body{
    width: 100%;
    height: 100vh;    
}



.container{
    width: 20%;
    height: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px;
    background-color: #1F1D36;
}

.resultCont{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: white;

}
.display{
    font-size: 1rem;
    font-weight: 600;
    color: white;


}

.cont{
    width: 100%;
    height: 15%;
    display: flex;
}


.clear{
    width: 25%;
}
.eql{
    width: 75%;
    font-size: 1.5rem;
    background-color: #3F3351;
    color: white;
}

.btn{
    width: 25%;
    height: 100%;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    color: white;
    background-color: #3F3351;

}
.btn1{
    width: 25%;
    height: 100%;
    border: none;
    font-size: 1.5rem;
    background-color: #3F3351;
}


.btn:hover {
    background-color:#32CD32;
}
.eql:hover {
    background-color:#1E90FF;
}
.clear:hover {
    background-color:#DC143C;
}
.clear{
    width: 100%;
    font-size: 1.5rem;
    background-color: #3F3351;
    color: white;
}

